// Variables of Mist scheme
// =================================================

$font-size-headings-base = 26px

$brand-color             = $black-deep
$brand-hover-color       = $brand-color

$site-meta-text-align    = left
$posts-collapse-left     = 0

$btn-default-color       = $link-color
$btn-default-bg          = transparent


// overide font size

$font-size-base           = 1rem
$font-size-small          = 1.1rem
$font-size-smaller        = 1rem
$font-size-large          = 1.2rem
$font-size-larger         = 1.3rem

// Code & Code Blocks
// --------------------------------------------------
$code-font-size                 = 1rem
$code-border-radius             = .3rem
