// Variables of Mist scheme
// =================================================

$font-size-headings-base = 26px

$brand-color             = $black-deep
$brand-hover-color       = $brand-color

$site-meta-text-align    = left
$posts-collapse-left     = 0

$btn-default-color       = $link-color
$btn-default-bg          = transparent


// overide font size

$font-size-base           = 15px
$font-size-small          = 14px

// Code & Code Blocks
// --------------------------------------------------
$code-font-size                 = 14px
$code-border-radius             = .3rem

// Layout sizes
$content-desktop                = 870px
$content-desktop-large          = 960px