.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  +mobile(){ display:none;}
  color: $grey-dark;
  font-family: $font-family-posts;
  font-size: 12px;
  text-align: center;

  .post-category-list {
    display: inline-block;
    margin: 0;
    padding: 3px;
  }
  .post-category-list-link { color: $grey-dark; }
  
  .post-description {
    font-size: 14px;
    margin-top: 2px;
  }
}
.mobile-post-meta{
  display:none;
  +mobile(){ display:block; }

  font-size: 13px;
  color:#b1b1b1;
  margin-bottom:20px;
  .post-meta-item-icon {
    color: #f16156;
  }
}

.post-wordcount {
  if !hexo-config('post_wordcount.separated_meta') { display: inline-block; }
}

.post-meta-divider {
  margin: 0 .5em;
}

.post-meta-item-icon {
  margin-right: 3px;
  +tablet() {
    display: inline-block;
  }
  +mobile() {
    display: inline-block;
  }
}
.post-meta-item-text {
  +tablet() {
    display: none;
  }
  +mobile() {
    display: none;
  }
}

.posts-expand .post-comments-count {
  +mobile() { display: none; }
}
