// Custom styles.

.head-fork {
        +mobile(){
          display: none;
        }
   }

// license tooltip
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;

    &.top {
      margin-top: -3px;
      padding: 5px 0;
    }
    .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: #FF5722;
    }
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #FF5722;
    //border-radius: 4px;
}

//hint note

.hint {
    margin: 1.5rem 0;
    padding: .5rem .875rem;
    border-radius: 3px;

    h4,h5,h6:first-child{
        margin-top:0 !important;
        padding-top: 0 !important;
    }
    p{
        margin-bottom:.5rem;
    }
    p:last-child{
        margin-bottom:0;
    }
    &.success{
        background: #f8f8dd;
        border: 1px solid #d3d952;
    }

    &.info{
        background: #d4f3fd;
        border: 1px solid #94bbeb;
    }

    &.warning{
        background: #fbe6d1;
        border: 1px solid #ec8b01;
    }

    &.danger{
        background: #fed5d3;
        border: 1px solid #dc7874;
    }
}
