// Post Expanded
// --------------------------------------------------
.posts-expand {
  padding-top: 0;
  +mobile() {
    //padding: 0 .5rem;
    margin:0 .4rem;
  }
  .post-title,
  .post-meta {
    text-align: $site-meta-text-align;
    +mobile() { text-align: center; }
  }
  .post-eof { display: none; }

  //.post { margin-top: 120px; }
  .post { 
    margin-top: 3rem; 
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    padding: .2em 1.5em 1em 1.5em;
    border-radius:.2rem;
    +mobile() {
      margin-top: 1.7rem;
      padding: .2em .8em 1em .8em;
    }
  }
  .post:first-child { margin-top: 0; }

  .post-meta {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .post-title {
    position: relative;
    font-size: $font-size-headings-base;
    font-weight: 400;
    +mobile() { font-size: $font-size-headings-small; }
    +desktop-large() { font-size: $font-size-headings-large; }
  }
  .post-title:hover:before { background: $black-deep; }

  .post-body {
    +mobile() { 
      font-size: $font-size-small; 
      line-height: 1.8rem;
    }
  }

  .post-body img { margin: 0; }

  .mask-content{
    -webkit-mask-image: linear-gradient(#1a1a1a calc(100% - 11rem),transparent calc(100% - 2.8rem));
    mask-image: linear-gradient(#1a1a1a calc(100% - 8rem),transparent calc(100% - 2.8rem));
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .post-tags {
    text-align: left;
    a {
      padding: 1px 5px;
      background: $whitesmoke;
      border-bottom: none;
    }
    a:hover { background: $grey-light; }
  }
  .post-nav { margin-top: 40px; }
}

.post-button {
  margin-top: 20px;
  text-align: left;

  a {
    padding: 0;
    font-size: $font-size-base;
    //color: $grey-dim;
    background: none;
    border: none;
    border-bottom: 2px solid $grey-dim;
    transition-property: border;

    +mobile() { font-size: $font-size-small; }
    +desktop-large() { font-size: $font-size-large; }


    &:hover { border-bottom-color: $black-deep; }
  }
}
.post-readmore{
  position: relative;
  top: -1rem;

  a {
    border:none;
    padding: .2rem .5rem
    background-color: #f44336d4;
    color: #fff;
  }
}
