//
// Mist scheme
// =================================================

@import "_base";
@import "outline/outline";
@import "_header";
@import "_logo";
@import "_menu";
@import "_search.styl";
@import "_posts-expanded";
@import "sidebar/sidebar-blogroll";


// Components
// --------------------------------------------------
.btn {
  padding: 0 10px;
  border-width: 2px;
  border-radius: 0;
}

.headband { display: none; }


// Search
// --------------------------------------------------
.site-search {
  position: relative;
  float: right;
  margin-top: 5px;
  padding-top: 3px;

  +mobile() {
    float: none;
    padding: 0 10px;
  }
}


// Page - Container
// --------------------------------------------------
.container { background: #fbfcff;}
.container .main-inner {
  +desktop() { width: $content-desktop; }
  +mobile() { width: auto; }
  +desktop-large() {
    width: $content-desktop-large;
  }
}


// Page - Post details
// --------------------------------------------------
.page-post-detail {
  .post-title,
  .post-meta { text-align: center; }

  .post-title:before { display: none; }

  .post-meta { margin-bottom: 60px; }
}


// Pagination
// --------------------------------------------------
.pagination {
  margin: 120px 0 0;
  text-align: left;

  +mobile() {
    margin: 80px 10px 0;
    text-align: center;
  }
}

// Footer
// --------------------------------------------------
.footer {
  margin-top: 80px;
  padding: 10px 0;
  background: $whitesmoke;
  color: $grey-dim;
}
.footer-inner {
  margin: 0 auto;
  //text-align: left;

  +mobile() {
    width: auto;
    text-align: center;
  }
}

// Helpers
// --------------------------------------------------

// Expand image to 126% with nagative margin-left/right on Desktop.
.full-image.full-image.full-image.full-image {
  +desktop() {
    width: 120%;
    margin: $full-image-margin-vertical -10%;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    padding: 5px;
    background: #fff;
    
  }
}

// Mist Custom
code{
    padding: 2px 4px;
    font-size: 95%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

blockquote{
  padding: .3rem 0 0 1rem;
  border-left: 4px solid #5c5d5d;
  background-color: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
// sf blockquote style
blockquote.info{
  border-left: 2px solid #009A61;
  background: #F6F6F6;
  color: #555;
  padding:10px 20px;
}

.sidebar-nav li{
  color: #d6d7da
}

.page-post-detail {
  .post-title { margin-top:.5rem; }
  
  .post-title,
  .post-meta { text-align: center; 
      +mobile(){
        margin-bottom: 1.5rem !important;
    }
  }

  .post-title:before { display: none; }

  .post-meta { margin-bottom: 60px; }
}
.header-inner {
  +mobile() {
    margin-bottom: 2.5rem;
    border-bottom: 2px #666 solid;
  }
}

hr{
    height: 1px;
    background-color: #ddd;
    background-image: none;
}
/*
ul.nav-tabs {
    +mobile-smallest() {
      display: flex !important;
      margin-bottom: -1px !important;
    }

    li.tab {
      &.active {
        +mobile-smallest() {
          border-top: 3px solid $orange !important;
          border-left: 1px solid $table-border-color !important;
          border-right: 1px solid $table-border-color !important;
          border-bottom: none !important;
        }
      }
    }
}
*/